<div class="bg-gray-50">

{{> header}}

<p class="ml-96 mt-5 font-semibold font-sans text-gray-700">Ajouter une annonce</p>
<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const msg = urlParams.get('msg')
    if (msg == "fillfields") {
        document.write('<h2 class="text-red-600 font-bold">Please fill up all the fields</h2>');
    }

</script>

    <form action="/add-ads/step1/step2" method="" class="pb-5">

        <div class="gap-4 bg-white mt-2 pt-5 ml-96 pl-9 mb-12 rounded-lg shadow-xl" style="width: 650px; height:500px">

            <div class="mt-2 ml-32">
                <div>
                    <label for="nom" class="block text-sm font-medium text-gray-700">Nom</label>
                    <input type="text" name="nom" class="py-1.5 px-3 border rounded-md mt-1 block w-80">
                </div>

                <div class="mt-4">
                    <label for="marque" class="block text-sm font-medium text-gray-700">Taille</label>
                    <input type="text" name="marque" class="py-1.5 px-3 border rounded-md mt-1 block w-80">
                </div>

                <div class="mt-4">
                    <label for="modele" class="block text-sm font-medium text-gray-700">Genre</label>
                    <input type="text" name="modele" class="py-1.5 px-3 border rounded-md mt-1 block w-80">
                </div>

                <div class="mt-4">
                    <label for="marque" class="block text-sm font-medium text-gray-700">Etat</label>
                    <input type="text" name="marque" class="py-1.5 px-3 border rounded-md mt-1 block w-80">
                </div>

                <div class="mt-4">
                    <label for="modele" class="block text-sm font-medium text-gray-700">Couleur</label>
                    <input type="text" name="modele" class="py-1.5 px-3 border rounded-md mt-1 block w-80">
                </div>

            </div>

            <div class="mt-10 ml-56">    
                <button class="h-9 w-32 p-1 border rounded-md bg-blue-900 hover:bg-white text-white" style="background-color: #00b906;">
                    <a href="/add-ads/step1/step2/payement" class="font-semibold text-sm">
                    Suivant
                    </a>
                </button> 
            </div>

        </div>

    </form>
</div>
