{{> header}}

<!--<div class="bg-cover w-full" style="background-image: url('https://gl-m.linker-cdn.net/article/2021/May/6ebeb4bb7b40799a08a26d0989ec62cf.jpg'); height: 600px;">
</div>-->

<table>
    <tr>
        <td>
            <input type="text" class="mt-1 block w-80 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
        </td>
        <td>
            <select id="sous_categorie" name="sous_categorie" autocomplete="sous_categorie"
            class="mt-1 block w-80 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
            <option>Véhicule</option>
            <option>Immobilier</option>
            <option>Loisir</option>
            </select>
        </td>
        <td>
            <select id="sous_categorie" name="sous_categorie" autocomplete="sous_categorie"
            class="mt-1 block w-80 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
            <option>Véhicule</option>
            <option>Immobilier</option>
            <option>Loisir</option>
            </select>
        </td>
        <td>
            <select id="sous_categorie" name="sous_categorie" autocomplete="sous_categorie"
            class="mt-1 block w-80 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
            <option>Véhicule</option>
            <option>Immobilier</option>
            <option>Loisir</option>
            </select>
        </td>
    </tr>
</table>

<div class="grid grid-cols-4 group">
        <div class="mt-2">
            <input type="text" class="mt-1 block w-80 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
        </div>

        <div class="mt-2">
            <select id="sous_categorie" name="sous_categorie" autocomplete="sous_categorie"
            class="mt-1 block w-80 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
            <option>Véhicule</option>
            <option>Immobilier</option>
            <option>Loisir</option>
            </select>
        </div>

        <div class="mt-2">
            <select id="sous_categorie" name="sous_categorie" autocomplete="sous_categorie"
            class="mt-1 block w-80 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
            <option>Véhicule</option>
            <option>Immobilier</option>
            <option>Loisir</option>
            </select>
        </div>

        <div class="mt-2">
            <select id="sous_categorie" name="sous_categorie" autocomplete="sous_categorie"
            class="mt-1 block w-80 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
            <option>Véhicule</option>
            <option>Immobilier</option>
            <option>Loisir</option>
            </select>
        </div>
    </div>

{{> footer}}