<div class="w-96">
{{> header}}

<div class='grid grid-cols-12 md:mb-44'>
    <div class="col-span-3">
        {{> sidebarcategories}}
    </div>

    <div class="col-span-9">
        <img class="mt-32 mb-44 h-44 w-64 md:mt-32 md:mb-20 md:ml-64 md:w-3/6" src="/images/notfound.jpg" alt="not found">
    </div>
</div>

{{> footer}}
</div>