<div>
{{> header}}
  <div class="flex justify-center mt-1/2" style="height:593px">
    <div class="xl:w-3/4 lg:w-11/12 flex">
      {{#each userinfo}}

      <div class="bg-gray-200 hidden lg:block lg:w-80 bg-cover">
        {{> sidebarprofile}}
      </div>

      <div class="w-full lg:w-7/12  p-5 lg:rounded-l-none">

        <div id="annonces">
            {{> annonces}}
        </div>
        
      </div>

      {{/each}}
    </div>

  </div>
  
</div>