<div>
{{> header}}
  <div class="flex justify-center mt-1/2 h-full" >
    <div class="xl:w-3/4 lg:w-11/12 flex" >

      <div class="hidden lg:block lg:w-96 bg-cover mt-1" style="background-color: #f2f2f2;">
        {{> sidebarprofile}}
      </div>

      <div class="md:ml-10 lg:w-11/12 p-5 lg:rounded-l-none">
        <div id="annonces" class="md:flex md:flex-col">
            {{> annonces}}
        </div>
      </div>

    </div>

  </div>
  
</div>