<div>
{{> header}}
  <div class="flex justify-center">
    <!-- Row -->
    <div class="xl:w-3/4 lg:w-11/12 flex pb-3.5">
      <!-- Col -->
      <div class="w-full h-auto bg-gray-200 hidden lg:block lg:w-5/12 bg-cover">
              <div class="w-32 h-32 bg-gray-600 flex items-center rounded-full mt-20 ml-32 ">
                <img class="h-20 w-20 mx-auto" src="https://lnmlpexiwaspywjbwwvd.supabase.in/storage/v1/object/sign/assets/boy.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJhc3NldHMvYm95LnBuZyIsImlhdCI6MTYzMzUzMzk2NywiZXhwIjoxOTQ4ODkzOTY3fQ.HL6DqbdJMCZI6dqEN-ZQAu5EwtblW7r8YNuud4_kHV8">
              </div>
              <p class="text-2xl text-center text-black mt-4"> Ghofrane Chorfi</p>
              <hr class="mt-9 border-gray-400" />
              <div class="flex bg-gray-200 mt-10 hover:bg-gray-300 rounded-md py-3" >
                <svg xmlns="http://www.w3.org/2000/svg" 
                class="h-6 w-6 mt-5 ml-32" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 10h16M4 14h16M4 18h16" />
                </svg>
              <p class="text-md text-center text-black mt-5 ml-2"> Mes annonces</p>
              </div>
        
              <div class="flex bg-gray-200 mt-1 hover:bg-gray-300 rounded-md py-3" >
                <svg xmlns="http://www.w3.org/2000/svg" 
                    class="h-6 w-6 mt-5 ml-32" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                <p class="text-md text-black mt-5 ml-2"> Réglages</p>
              </div>
      </div>
      <!-- Col -->
      <div class="w-full lg:w-7/12 bg-white p-5 lg:rounded-l-none">
            <h3 class="pt-4 text-2xl text-center">Mes informations</h3>
            <form class="px-8 pt-6 pb-8 mb-4 bg-white rounded">
                <div class="mb-4">
                    <label class="block mb-2 text-sm font-bold text-gray-700" for="phone">
                      Numéro de télephone
                    </label>
                    <input
                      name="phone"
                      class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                      id="phone"
                      type="text"
                      placeholder="Numéro de Téléphone"/>
                </div>

                <div class="mb-4">
                    <label class="block mb-2 text-sm font-bold text-gray-700" for="Nom et Prénom">
                      Nom et Prénom
                    </label>
                    <input
                      class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                      id="Nom et Prénom"
                      type="Nom et Prénom"
                      placeholder="Nom et Prénom"
                    />
                </div>

                <button
                  type="submit"
                  class="block w-72 px-4 py-2 mt-1 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-gray-600  border border-transparent rounded-lg active:bg-gray-600  hover:bg-gray-600 focus:outline-none focus:shadow-outline-blue"
                  >
                  Mettre à jour mes informations
                </button>
              <div class="mb-4 mt-4">
                <label class="block mb-2 text-sm font-bold text-gray-700" for="email">
                  Email
                </label>
                <input
                name="email"
                  class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                  id="email"
                  type="email"
                  placeholder="Email"
                />
              </div>

              <div class="mb-4 md:flex md:justify-between">
                <div class="mb-4 md:mr-2 md:mb-0">
                  <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
                    Password
                  </label>
                  <input
                  name="password"
                  class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                    id="password"
                    type="password"
                    placeholder="****************"/>
                </div>

                <div class="md:ml-2">
                  <label class="block mb-2 text-sm font-bold text-gray-700" for="c_password">
                    Confirm Password
                  </label>
                  <input
                    name="c-password"
                    class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                    id="c_password"
                    type="password"
                    placeholder="****************"/>
                </div>
              </div>
            
            </form>
      </div>
    </div>
  </div>
</div>