<div class="flex items-center min-h-screen bg-gray-50">
  <div class="w-96 mx-auto md:flex-1 md:h-full md:max-w-xl md:mx-auto bg-white rounded-lg shadow-xl">
    <div class="flex flex-col md:flex-row ml-10 md:ml-16 ">
      <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2 ">
        <div class="w-full ">
          <h1 style="color: #393e46;" class="mb-6 ml-14 text-2xl font-bold md:ml-28 text-gray-700 w-96 mr-4">S'identifier</h1>
            <script>
                  const queryString = window.location.search;
                  const urlParams = new URLSearchParams(queryString);
                  const msg = urlParams.get('msg')
                  if (msg == "errorlogin") {
                    document.write('<p class="text-red-600 font-bold text-xs">Vérifier votre email et mot de passe</p>');
                  }
                  if (msg == "emailincorrect") {
                    document.write('<p class="text-red-600 font-bold text-xs">Email incorrecte</p>');
                  }
                  if (msg == "passwordincorrect") {
                    document.write('<p class="text-red-600 font-bold text-xs">Mot de passe incorrecte</p>');
                  }
                  else if (msg == "fillfields") {
                    document.write('<p class="text-red-600 font-bold text-xs">Please fill up the fields</p>');
                  }

            </script>

            <form action="/signin" method="POST">

              <div class="mt-4 w-64 md:w-96">
                <label class="block text-sm font-medium text-gray-700 mb-2">Email</label>
                <input class="w-full px-4 py-2 text-sm border rounded-md focus:border-gray-400 focus:outline-none 
                focus:ring-1 focus:ring-gray-600" placeholder="Email Address" type="email" name="email"/>
              </div>

              <div class="mt-6 w-64 md:w-96">
                <label class="block text-sm font-medium text-gray-700 mb-2">Mot de Passe</label>
                <input type="password" class="w-full px-4 py-2 text-sm border rounded-md focus:border-gray-400 
                focus:outline-none focus:ring-1 focus:ring-gray-600"placeholder="Mot de Passe" name="password"/>
              </div>

                <button type="submit" style="background-color: #00b906;" class="block w-64 md:w-96 px-4 py-2 mt-8 text-sm font-medium leading-5 text-center text-white 
                  transition-colors duration-150 bg-gray-900  border border-transparent rounded-lg active:bg-gray-600  
                  hover:bg-gray-600  focus:outline-none focus:shadow-outline-gray" href="#">S'identifier
                </button>

                <div class="mt-4 md:text-center w-96">
                  <p class="text-sm">Vous n'avez pas de compte ? 
                    <a href="signup" class="text-blue-600 hover:underline">
                      inscrivez-vous
                    </a>
                  </p>
                </div>

            </form>
        </div>
      </div>
    </div>
  </div>
</div>