<footer class="pt-20 bg-gray-200 text-center lg:text-left">
  <div class="text-gray-700 text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-gray-800" href="https://tailwind-elements.com/">:)</a>
  </div>
</footer>

<!--<footer class="p-4 bg-black shadow md:px-6 md:py-8">
    <div class="h-2 sm:flex sm:items-center sm:justify-between">
        <a href="/" class="flex items-center mb-4 sm:mb-0">
            <img src="" class="mr-3 h-8" alt="Ichhar Logo" />
            <span class="self-center text-white text-2xl font-semibold whitespace-nowrap">Ichhar</span>
        </a>
        <ul class="flex flex-wrap text-white items-center mb-6 text-sm text-gray-500 sm:mb-0">
            <li>
                <a href="#" class="mr-4 text-white hover:underline md:mr-6 ">About</a>
            </li>
            <li>
                <a href="#" class="mr-4 text-white hover:underline md:mr-6">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="mr-4 text-white hover:underline md:mr-6 ">Licensing</a>
            </li>
            <li>
                <a href="#" class="text-white hover:underline">Contact</a>
            </li>
        </ul>
    </div>
</footer>-->