<h2> Informations personelles</h2>
<p class="md:text-md text-semibold text-black mt-2">Email : {{userChosenInfo.email}} </p>
<p class="md:text-md text-semibold text-black mt-2">Téléphone : {{userChosenInfo.telephone}} </p>
<p class="md:text-md text-semibold text-black mt-2"> Ville : {{userChosenInfo.ville}} </p>