<div class="w-40 h-40 flex mx-auto rounded-full mt-14" >
  <img class="h-40 w-40 rounded-full mx-auto" src="{{userChosenInfo.photo_url}}" />
</div>

<p class="text-3xl text-center text-bold text-black mt-4">
  {{userChosenInfo.nom}}
  {{userChosenInfo.prenom}}
</p>
<p class="text-md text-center text-semibold text-black mt-2">A rejoint depuis {{userChosenInfo.date_creation}}</p>
<hr class="mt-9 border-gray-300">




